name: Node.js and React CI

on:
  push:
    branches: [ "main" ]

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json
    - name: Install Dependencies
      run: npm install
    # - name: Run Backend Tests # Descomentar cuando tengas tests para el backend
    #   run: npm test

  frontend-ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json
    - name: Install Dependencies
      run: npm install
    - name: Run Frontend Tests
      run: npm test
    - name: Build Frontend
      run: npm run build
